
#the following items will modify the behavior of this script!

#number of HOURS to run before restarting
cycles=4

#beginning intro text statement…must at LEAST include ->say<- followed by a space 
firstText="say Welcome to Le Spice World"

#second intro text statement…must at LEAST include ->say<- followed by a space 
secondText="say Current Texture Pack is Jolicraft!"

#third intro text statement…must at LEAST include ->say<- followed by a space 
thirdText="say compliments from Superkelp and mxb..."